<app-breadcrumb></app-breadcrumb>
<div class="row gx-3" style="margin-bottom: 100px;">
  <div class="col-lg-8">
    <div class="card">
      <img
        [src]="car.imagem" alt="...">
      <div class="card-body">
        <h5 class="card-title fs-3">{{car.nome}}</h5>
        <p class="card-text text-truncate">{{car.descricao}}</p>

        <div class="row">
          <div class="row g-2">
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Ano</h5>
                <span>{{car.ano}}</span>
              </div>
            </div>
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Km</h5>
                <span>{{car.km}}</span>
              </div>
            </div>
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Câmbio</h5>
                <span>{{car.cambio}}</span>
              </div>
            </div>
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Combustível</h5>
                <span>{{car.combustivel}}</span>
              </div>
            </div>
          </div>
          <div class="row g-2">
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Final de placa</h5>
                <span>{{car.finalPlaca}}</span>
              </div>
            </div>
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Cor</h5>
                <span>{{car.cor}}</span>
              </div>
            </div>
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Único dono</h5>
                <span>{{ car.unicoDono ? 'Sim' : 'Não' }}</span>
              </div>
            </div>
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Garantia de fábrica</h5>
                <span>{{ car.garantiaFabrica ? 'Sim' : 'Não' }}</span>
              </div>
            </div>
          </div>
        </div>
        <p class="card-text fs-3 fw-bold"></p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="p-3 border rounded">
      <div class="mb-3">
        <h2>R$ {{ car.valor }},00</h2>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nome completo</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Seu nome">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="usuario@dominio.com.br">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
          placeholder="Tenho interesse no veículo. Por favor entre em contato."></textarea>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg" (click)="tanks()">Tenho interesse!</button>
      </div>
    </div>
  </div>
</div>