<app-breadcrumb></app-breadcrumb>
<div class="row gx-3" style="margin-bottom: 100px;">
  <div class="col-lg-8">
    <div class="card">
      <img
        src="https://image.webmotors.com.br/_fotos/anunciousados/gigante/2021/202102/20210224/honda-civic-1.5-16v-turbo-gasolina-si-coupe-2p-manual-wmimagem18052696649.jpg?s=fill&w=552&h=414&q=60"
        class="d-block w-100" alt="...">
      <div class="card-body">
        <h5 class="card-title fs-3">HONDA CIVID</h5>
        <p class="card-text text-truncate">1.5 16V TURBO GASOLINA SI COUPÉ 2P MANUAL</p>

        <div class="row">
          <div class="row g-2">
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Ano</h5>
                <span>2020</span>
              </div>
            </div>
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Km</h5>
                <span>4000</span>
              </div>
            </div>
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Câmbio</h5>
                <span>Manual</span>
              </div>
            </div>
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Combustível</h5>
                <span>Gasolina</span>
              </div>
            </div>
          </div>
          <div class="row g-2">
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Final de placa</h5>
                <span>3</span>
              </div>
            </div>
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Cor</h5>
                <span>Vermelho</span>
              </div>
            </div>
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Único dono</h5>
                <span>Sim</span>
              </div>
            </div>
            <div class="col-3">
              <div class="p-3">
                <h5 class="fs-6 fw-bold">Garantia de fábrica</h5>
                <span>Sim</span>
              </div>
            </div>
          </div>
        </div>
        <p class="card-text fs-3 fw-bold"></p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="p-3 border rounded">
      <div class="mb-3">
        <h2>R$ 199.000</h2>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nome completo</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Seu nome">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="usuario@dominio.com.br">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
          placeholder="Tenho interesse no veículo. Por favor entre em contato."></textarea>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg">Tenho interesse!</button>
      </div>
    </div>
  </div>
</div>